<h1>New Item</h1>

<%= form_with model: @item do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @item.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
    <% @item.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :tax %><br>
    <%= form.text_field :tax %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
